# Spotify API Credentials
SPOTIPY_CLIENT_ID='4461206ef25a4ebab77c254cdf61b2bc'
SPOTIPY_CLIENT_SECRET='69401507e02f4b2fa968967ca7114f4f'
SPOTIPY_REDIRECT_URI='http://localhost:8000/callback/'

# Last.fm API Credentials (if using)
# LASTFM_API_KEY=your-lastfm-api-key
# LASTFM_SHARED_SECRET=your-lastfm-shared-secret

# Django secret key
SECRET_KEY='django-insecure-g&=s5pa5@v^ue5g$r81(#ucg6a1*&icmiirmg4=@c(l3snbw7&'

# Debug mode
DEBUG=True

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables file
.env

# Django stuff:
*.log
db.sqlite3
media
