<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Playlist:</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <label for="playlist_name">Playlist Name:</label>
            <input type="text" id="playlist_name" name="playlist_name" required>
        
            <label for="playlist_description">Playlist Description:</label>
            <textarea id="playlist_description" name="playlist_description"></textarea>
        
            <button type="submit">Create Playlist</button>
        </form>
    </body>
</html>