<!-- musicapp/templates/musicapp/home.html -->
{% block body %}
    <!DOCTYPE html>
    <html>
        <head>
            <h1>Hello {{ user }}</h1>


            <title>Artist Search Results</title>
        </head>
        <body>
            <h1>Search for an Artist:</h1>
            <form action="{% url 'home'%}" method="post">
                {% csrf_token %}
                <input name="artist" type="text">
                <input type="submit">
            </form>

            <h1>Artist Search Results</h1>
            <ul>
                {% for artist in artists %}
                    <li>{{ artist.name }} - Popularity: {{ artist.popularity }}</li>
                {% endfor %}
            </ul>
        </body>
    </html>
{% endblock %}