{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'musicapp/styles.css' %}">
        <title>Select Playlist</title>
    </head>
    <body>
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>

        <hr>

        <h1>Select a Playlist:</h1>
        <ul>
            {% for playlist in playlists %}
                <li>
                    <a href="{% url 'playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                    <a href="{% url 'playlist_analytics' playlist.id %}">View Analytics</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>